<tr>
    <th scope="row">1.</th>
    <td>Kirim Pesan ke Kontak Website</td>
    <td>CONTACT US</td>
    <td>-</td>
    <td>CLIENT</td>
    <td>POST</td>
    <td>/api/contact/add</td>
    <td>
        {name:'abc' , email: "abc" , subject:'abc' , message:'abc' }
    </td>
</tr>
<tr>
    <th scope="row">2.</th>
    <td>Tampilkan Semua Pesan</td>
    <td>CONTACT US</td>
    <td>TOKEN</td>
    <td>ADMIN</td>
    <td>GET</td>
    <td>/api/contact/all</td>
    <td>
        Array of Object[{ }]
    </td>
</tr>
<tr>
    <th scope="row">3.</th>
    <td>Hapus Data Pesan</td>
    <td>CONTACT US</td>
    <td>TOKEN</td>
    <td>ADMIN</td>
    <td>DELETE</td>
    <td>/api/contact/delete/:id</td>
    <td>
        {api/contact/delete//123}
    </td>
</tr>
<tr>
    <th class="bg-info" scope="row" colspan="8"></th>
</tr>
