<tr>
    <th scope="row">1.</th>
    <td>Tambah Newsletter</td>
    <td>NEWSLETTER</td>
    <td>-</td>
    <td>CLIENT</td>
    <td>POST</td>
    <td>/api/newsletter/addnewsletter</td>
    <td>
        {email: "newsletter"}
    </td>
</tr>
<tr>
    <th scope="row">2.</th>
    <td>Tampilkan Semua Data Newsletter</td>
    <td>NEWSLETTER</td>
    <td>-</td>
    <td>CLIENT</td>
    <td>GET</td>
    <td>/api/newsletter/getallnewsletter</td>
    <td>
        Array of Object[{ }]
    </td>
</tr>
