<tr>
    <th scope="row">1.</th>
    <td>Tambah Newsletter</td>
    <td>NEWSLETTER</td>
    <td>-</td>
    <td>NEWSLETTER</td>
    <td>POST</td>
    <td>/api/newsletter/addnewsletter</td>
    <td>
        {email: "newsletter"}
    </td>
</tr>
<tr>
    <th scope="row">2.</th>
    <td>Tampilkan Semua Data Newsletter</td>
    <td>NEWSLETTER</td>
    <td>-</td>
    <td>NEWSLETTER</td>
    <td>GET</td>
    <td>/api/newsletter/getallnewsletter</td>
    <td>
        -
    </td>
</tr>
<tr>
    <th scope="row">3.</th>
    <td>Update data Newsletter</td>
    <td>NEWSLETTER</td>
    <td>-</td>
    <td>NEWSLETTER</td>
    <td>PUT</td>
    <td>/api/newsletter/:id</td>
    <td>
        -
    </td>
</tr>
<tr>
    <th scope="row">4.</th>
    <td>Hapus Data Newsletter</td>
    <td>NEWSLETTER</td>
    <td>-</td>
    <td>NEWSLETTER</td>
    <td>DELETE</td>
    <td>/api/newsletter/:id</td>
    <td>
        -
    </td>
</tr>
<tr>
    <th class="bg-info" scope="row" colspan="8"></th>
</tr>
